//===================================================================
//  SETTINGS
//===================================================================

body {
    background-color: #222;
    color: #999;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: center;
  }
  